@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Noto Sans TC", sans-serif;
    line-height: 1.5;
    letter-spacing: 0;
    color: rgba(0, 0, 0, 1);
    background: rgba(251, 251, 251, 1);
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

a {
    display: inline-block;
    color: inherit;
    text-decoration: none;
}

.header-navbar {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(251, 251, 251, 1);
}

.header-text {
    font-weight: 700;
    font-size: 28px;
}

.me-40 {
    margin-right: 40px;
}

footer {
    width: 100%;
    height: 72px;
    padding: 24px 0;
    font-family: Noto Sans TC;
    font-weight: 500;
    text-align: center;
    background: rgba(255, 255, 255, 1);
}